default_shell "@yznShell@"
support_kitty_keyboard_protocol true

plugins {
    yzpp location="@yzpp@" {
        popups {
            config {
                command "@yznConfig@"
                pane_title "config_popup"
                width_percent 100
                height_percent 100
                side_margin 0
                vertical_margin 0
            }

            agent {
                command "@yznAgent@"
                pane_title "agent_popup"
                width_percent 100
                height_percent 100
                side_margin 0
                vertical_margin 0
                toggle_close_behavior "hide"
            }

            lazygit {
                command "@lazygit@"
                pane_title "lazygit_popup"
                width_percent 100
                height_percent 100
                side_margin 0
                vertical_margin 0
            }

            menu {
                command "@yznMenu@"
                pane_title "menu_popup"
                width_percent 100
                height_percent 100
                side_margin 0
                vertical_margin 0
            }
        }
    }

    yazelix_pane_orchestrator location="@yznPaneOrchestrator@" { screen_saver_enabled false; }
}

load_plugins {
    yzpp
    yazelix_pane_orchestrator
}

keybinds {
    locked {
        unbind "Ctrl g"
        bind "Ctrl Alt g" { SwitchToMode "Normal"; }
    }
    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }
    }
    resize {
        bind "Ctrl n" { SwitchToMode "Normal"; }
    }
    tab {
        bind "n" { NewTab { layout "@layout@"; cwd "__YZN_HOME__"; }; SwitchToMode "Normal"; }
        bind "Ctrl t" { SwitchToMode "Normal"; }
    }
    scroll {
        unbind "Ctrl s"
        bind "Ctrl Alt s" { SwitchToMode "Normal"; }
    }
    search {
        unbind "Ctrl s"
        bind "Ctrl Alt s" { SwitchToMode "Normal"; }
    }
    session {
        unbind "Ctrl o"
        bind "Ctrl Alt o" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        unbind "Alt n" "Alt i" "Alt o" "Ctrl g"
        bind "Alt m" { NewPane; }
        bind "Alt Shift J" {
            MessagePlugin "yzpp" {
                name "toggle"
                payload "lazygit"
            }
        }
        bind "Alt Shift K" {
            MessagePlugin "yzpp" {
                name "toggle"
                payload "config"
            }
        }
        bind "Alt Shift L" {
            MessagePlugin "yzpp" {
                name "toggle"
                payload "agent"
            }
        }
        bind "Alt Shift M" {
            MessagePlugin "yzpp" {
                name "toggle"
                payload "menu"
            }
        }
        bind "Alt h" "Alt Left" { MessagePlugin "yazelix_pane_orchestrator" { name "move_focus_left_or_tab"; }; }
        bind "Alt l" "Alt Right" { MessagePlugin "yazelix_pane_orchestrator" { name "move_focus_right_or_tab"; }; }
        bind "Alt r" { MessagePlugin "yazelix_pane_orchestrator" { name "smart_reveal"; }; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt Shift h" { NextSwapLayout; }
        bind "Ctrl Alt g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl Alt h" { MoveTab "Left"; }
        bind "Ctrl Alt j" { MovePane "Down"; }
        bind "Ctrl Alt k" { MovePane "Up"; }
        bind "Ctrl Alt l" { MoveTab "Right"; }
    }
    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "locked" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "locked" {
        unbind "Ctrl s"
        bind "Ctrl Alt s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "locked" {
        unbind "Ctrl o"
        bind "Ctrl Alt o" { SwitchToMode "Session"; }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    shared_except "move" "locked" {
        unbind "Ctrl h"
    }
}
