layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }

    pane split_direction="vertical" {
        pane command="@yazi@" size="20%"
        pane stacked=true {
            pane
        }
    }

    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
