layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    tab {
        pane split_direction="vertical" {
            pane name="sidebar" command="@yazi@" size="20%"
        }
    }
}
