swap_tiled_layout name="one_pane" {
    ui exact_panes=4 {
        pane split_direction="vertical" {
            pane name="sidebar" {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazelix/yazi/sidebar" "yazi"
            	size "20%"
            }
            pane 
        }
    }
}

swap_tiled_layout name="sidebar_open_two_or_more_panes" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            pane name="sidebar" {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazelix/yazi/sidebar" "yazi"
            	size "20%"
            }
            pane stacked=true { children; }
        }
    }
}

swap_tiled_layout name="sidebar_closed_two_or_more_panes" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            pane name="sidebar" {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazelix/yazi/sidebar" "yazi"
            	size "1%"
            }
            pane stacked=true { children; }
        }
    }
}

