layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
           plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
           plugin location="zellij:status-bar"
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
           plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane name="sidebar" {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazelix/yazi/sidebar" "yazi"
            	size "100%"
            }
        }
        pane size=1 borderless=true {
           plugin location="zellij:status-bar"
        }
    }
}

// keybinds {
//     shared {
//         // Previously: Ctrl + o (in helix: jump_backward)
//         bind "Ctrl e" { SwitchToMode "Session"; }
        
//         // Previously: Ctrl + s (in helix: save_selection)
//         // bind "Alt 1" { SwitchToMode "Scroll"; }
//         bind "Ctrl y" { SwitchToMode "Scroll"; }
        
//         // Previously: Alt + i (in helix: shrink_selection)
//         bind "Alt w" { MoveTab "Left"; }
        
//         // Previously: Alt + o (in helix: expand_selection)
//         bind "Alt q" { MoveTab "Right"; }
        
//         // Previously: Alt + n (in helix: select_next_sibling)
//         bind "Alt m" { NewPane; }

//         // Previously: Ctrl + b (in helix: move_page_up)
//         bind "Alt 2" { SwitchToMode "Tmux"; }

//         // Not a remap, just for ease of use
//         bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
//     }

//     session {
//         // Exit session mode
//         bind "Ctrl e" { SwitchToMode "Normal"; }
//     }

//     scroll {
//         // Exit scroll mode
//         // bind "Alt 1" { SwitchToMode "Normal"; }
//         bind "Ctrl y" { SwitchToMode "Normal"; }
//     }

//     tmux {
//         // Exit tmux mode
//         bind "Alt 2" { SwitchToMode "Normal"; }
//     }
// }
