// Shared keybinds are injected by the Rust Zellij materializer
// from configs/zellij/layouts/fragments/keybinds_common.kdl.
layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
            __YAZELIX_ZJSTATUS_TAB_TEMPLATE__
         }
         children
         pane size=1 borderless=true {
            plugin location="zellij:status-bar"
         }
     }

     default_tab_template {
         pane size=1 borderless=true {
            __YAZELIX_ZJSTATUS_TAB_TEMPLATE__
         }
         pane split_direction="vertical" {
             pane name="sidebar" {
                 command __YAZELIX_SIDEBAR_COMMAND__
                 __YAZELIX_SIDEBAR_ARGS__
                 size "1"
             }
         }
         pane size=1 borderless=true {
            plugin location="zellij:status-bar"
         }
     }

     new_tab_template cwd="__YAZELIX_HOME_DIR__" {
         pane size=1 borderless=true {
            __YAZELIX_ZJSTATUS_TAB_TEMPLATE__
         }
         pane split_direction="vertical" {
             pane name="sidebar" {
                 command __YAZELIX_SIDEBAR_COMMAND__
                 __YAZELIX_SIDEBAR_ARGS__
                 size "1"
             }
         }
         pane size=1 borderless=true {
            plugin location="zellij:status-bar"
         }
     }
}


__YAZELIX_KEYBINDS_COMMON__
