<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Yazelix</string>
	<key>CFBundleDisplayName</key>
	<string>Yazelix</string>
	<key>CFBundleIdentifier</key>
	<string>com.yazelix.Yazelix</string>
	<key>CFBundleVersion</key>
	<string>11.0</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>yazelix</string>
	<key>CFBundleIconFile</key>
	<string>yazelix</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Yazelix</string>
</dict>
</plist>
