tab_template name="ui" {
    pane size=1 borderless=true {
       plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
       plugin location="zellij:status-bar"
    }
}

swap_tiled_layout name="yazi_open" {
    ui min_panes=6 {
        pane split_direction="vertical" {
            pane {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazi_full" "yazi"
                size "1%"
            }
            pane {
                command "yazi"
            	size "20%"
            }
            pane split_direction="vertical" size="79%" {
                pane 
                pane focus=true stacked=true { children; }
            }
        }
    }
}

swap_tiled_layout name="yazi_closed" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            pane {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazi_full" "yazi"
                size "1%"
            }
            pane {
                command "yazi"
                size "1%"
            }

            pane split_direction="vertical" size="98%" {
                pane
                pane focus=true stacked=true { children; }
            }
        }
    }
}

swap_tiled_layout name="yazi_full" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            pane {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/yazi_full" "yazi"
            	size "97%"
            }
            pane {
                command "yazi"
                size "1%"
            }
            pane split_direction="vertical" size="2%" {
                pane
                pane focus=true stacked=true { children; }
            }
        }
    }
}

