layout {
    default_tab_template {
        pane size=1 borderless=true {
           plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane {
                command "yazi"
                size "20%"
            }
            pane focus=true
        }
        pane size=1 borderless=true {
           plugin location="zellij:status-bar"
        }
    }
}
