plugin location="__YAZELIX_ZJSTATUS_PLUGIN_URL__" {
    format_left   "{mode} {tabs}"
    format_center ""
    format_right  "#[fg=#ff0088,bold]{session}__YAZELIX_WIDGET_TRAY__ __YAZELIX_CUSTOM_TEXT_SEGMENT__#[fg=#00ccff,bold]YAZELIX {command_version} " // {datetime}
    format_hide_on_overlength "true"
    format_precedence "lrc"
    format_space  ""

    border_enabled  "false"

    mode_normal  "#[bg=#00ff88,fg=#000000,bold] NORMAL "
    mode_tmux    "#[bg=#ffff00,fg=#000000,bold] TMUX "
    mode_session "#[bg=#ff6600,fg=#000000,bold] SESSION "
    mode_scroll  "#[bg=#ff0088,fg=#ffffff,bold] SCROLL "

    __YAZELIX_ZJSTATUS_TAB_NORMAL__
    __YAZELIX_ZJSTATUS_TAB_NORMAL_FULLSCREEN__
    __YAZELIX_ZJSTATUS_TAB_NORMAL_SYNC__
    __YAZELIX_ZJSTATUS_TAB_ACTIVE__
    __YAZELIX_ZJSTATUS_TAB_ACTIVE_FULLSCREEN__
    __YAZELIX_ZJSTATUS_TAB_ACTIVE_SYNC__
    tab_separator ""
    __YAZELIX_ZJSTATUS_TAB_RENAME__
    tab_sync_indicator       "<> "
    tab_fullscreen_indicator "[] "
    tab_floating_indicator   "⬚ "
    tab_display_count "6"
    tab_truncate_start_format "#[fg=#ff6600,bold]< +{count} ... "
    tab_truncate_end_format   "#[fg=#ff6600,bold]... +{count} > "

    datetime        "#[fg=#bb88ff,bold] {format} "
    datetime_format "%H:%M %d/%m"

    __YAZELIX_ZJSTATUS_COMMAND_DEFINITIONS__
}
